<ion-view title="Client Registration" cache-view="false">
    <ion-nav-bar class="bar-dark" align-title="center"></ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Village</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Panchayat</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Block</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Ward</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Taluk</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">District</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Guardian</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Gender</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">House No</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">City</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">State</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Country</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Remarks</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 38px;"></div>
            <button class="button button-calm button-block" ng-click="next()">Next</button>
        </form>
    </ion-content>
</ion-view>