<ion-view title="Education">
    <ion-nav-bar class="bar-dark" align-title="center"></ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-divider">Habitat India</div>
            <ion-item>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/DZrYKmH7Y78" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <div class="item item-divider">Hygiene Education</div>
            <div class="item item-body">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/_dIz7nFufeI" frameborder="0" width="560" height="315"></iframe>
                </div>
        </div>
    </ion-content>
</ion-view>