<ion-view title="Progress">
    <ion-nav-bar class="bar-dark" align-title="center"></ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <form class="list" ng-submit="reloadRoute()">
            <label class="item item-select">
                <span class="input-label">Client</span>
                <select ng-model="selectedClient" ng-options="client.name for client in clients">
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 53px;"></div>
            <label class="item item-select">
                <span class="input-label">Client Class Type</span>
                <select ng-model="selectedClientType" ng-options="clientType.name for clientType in clientTypes">
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 53px;"></div>
            <ion-item class="item-divider">Remarks</ion-item>
            <label class="item item-input">
                <textarea placeholder="Add Updates"></textarea>
            </label>
            <div class="spacer" style="width: 285px; height: 38.34375px;"></div>
            <button class="button button-block button-calm" type="submit">Submit</button>
        </form>
    </ion-content>
</ion-view>