<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Client" icon="ion-person" href="#/home/client/register">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Survey" icon="ion-document-text" href="#/home/survey">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Progress" icon="ion-stats-bars" href="#/home/progress">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Education" icon="ion-android-bulb" href="#/home/education">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>